# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: My Annotations
email: agustin.mdq.89@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Welcome to My Annotations: a blog of personal notes on IT and software development. 
  Follow along as I learn, document, and share my journey.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://agugliotta.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: agugliotta
github_username:  agugliotta
google_analytics: G-RZ5R7HVY0T

# Build settings
theme: minima
plugins:
  - jekyll-feed

# --- Configuración de Giscus ---
giscus:
  # ATRIBUTOS OBLIGATORIOS
  repo: "agugliotta/agugliotta.github.io" # data-repo
  repo_id: "R_kgDOObXWqw"               # data-repo-id
  category: "Comments"                  # data-category
  category_id: "DIC_kwDOObXWq84Cx5MU"   # data-category-id
  mapping: "pathname"                   # data-mapping
  reactions_enabled: 1                  # data-reactions-enabled (1 = sí)

  # ATRIBUTOS OPCIONALES/DE DISEÑO
  theme: "preferred_color_scheme"       # data-theme (usará el tema de color preferido del usuario)
  lang: "en"                            # data-lang (el idioma de la UI de Giscus)
  input_position: "top"

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
